<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        input {
            width: 300px;
            padding: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }

        button {
            padding: 10px;
            cursor: pointer;
            border: none;
        }

        .room-container {
            display: inline-block;
            padding: 50px;
            background: #128fc5;
            margin: 30px;
            text-align: center;
            font-size: 50px;
            color: white;
            cursor: pointer;
        }

        #quiz-container {
            width: 800px;
            height: 800px;
            background-color: #9aabff;
            color: white;
            text-align: center;
            font-size: 20px;
            padding: 20px;
            margin: auto;
            flex-direction: column;
        }

        .current-user-window {
            flex: 1;
            background-color: #96b8fa;
            text-align: center;
        }

        .hide {
            display: none;
        }

        .flex {
            display: flex;
        }

        .quiz-body {
            flex-grow: 1;
        }

        .btn {
            background-color: #8a86ff;
            padding: 5px;
            border-radius: 10px;
            border-bottom: solid #6f6aff;
            cursor: pointer;
        }

        .btn:hover {
            border-bottom: none;
        }

        #body {
            margin-top: 40px;
        }

        .section-body-container {
            display: flex;
            flex-direction: row;
        }

        .question-form-container {
            background-color: #96b8fa;
            flex: 1;
        }

        .section-container {
            padding: 30px;
        }

        .section-body-container {

        }

        .question-container {
            background-color: palegoldenrod;
            flex: 1;
            overflow-x: auto;
        }

        .question-view-container {
            font-size: 20px;
            margin-bottom: 10px;
        }

        #result-container {
            width: 800px;
            height: 800px;
            background-color: #9aabff;
            color: white;
            text-align: center;
            font-size: 20px;
            padding: 20px;
            margin: auto;
        }

        #wait-container {
            width: 800px;
            height: 800px;
            background-color: #9aabff;
            color: white;
            text-align: center;
            font-size: 20px;
            padding: 20px;
            margin: auto;
        }

        .text-left {
            text-align: left;
            display: inline-block;
        }

        .quiz-btn-container {
            padding-top: 30px;
        }

        .room-form-container {
            background-color: #92b0f1;
            padding: 30px;
            width: 500px;
            margin: auto;
        }

        .form-input-group {
            display: flex;
            margin-bottom: 15px;
        }

        .form-input {
            flex: 3;
        }

        .form-title {
            flex: 1;
            color: white;
            font-size: 17px;
        }

    </style>
</head>

<body>