<%- include('./partials/header') %>
<div class="body-container">
  <div>
      <form  method="post">
          <div>
              <span>Room Name</span>
              <input type="text" name="roomName" placeholder="Room Name">
          </div>
          <div>
              <span>Room ID</span>
              <input type="text" name="roomId" placeholder="Room ID">
          </div>

          <div>
              <button type="submit">Submit</button>
          </div>
      </form>
  </div>
</div>
<%- include('./partials/footer') %>