<%- include('./partials/header') %>
<div class="body-container">
  <div class="room-form-container">
      <form  method="post">
          <div class="form-input-group">
              <span class="form-title">Room Name</span>
              <input class="form-input" type="text" name="roomName" placeholder="Room Name">
          </div>
          <div class="form-input-group">
              <span class="form-title">Room ID</span>
              <input class="form-input"  type="text" name="roomId" placeholder="Room ID">
          </div>

          <div>
              <button type="submit">Submit</button>
          </div>
      </form>
  </div>
</div>
<%- include('./partials/footer') %>